---
layout: base.njk
title: Resume of Abby McNaron
keywords:
description: Abby McNaron, Senior Software Engineer
---

{% include "partials/_hero.njk" %}
{% include "partials/_about.njk" %}
{% include "partials/_skills.njk" %}
{% include "partials/_experience.njk" %}
{% include "partials/_contact.njk" %}