---
permalink: /site.webmanifest
eleventyExcludeFromCollections: true
---
{
  "name": "{{ site.title }}",
  "short_name": "{{ author.shortName }}",
  "icons": [
    {
      "src": "/assets/images/Abby_Profile.jpg",
      "sizes": "192x192",
      "type": "image/jpg"
    }
  ],
  "theme_color": "{{ site.themeColor }}",
  "background_color": "{{ site.backgroundColor }}",
  "display": "standalone"
}
